<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books App</title>
</head>
<body>
    <h1>Welcome to the Books App</h1>
    <button onclick="location.href='{% url 'books:add_books' %}';">Add Books</button>
    <button onclick="location.href='{% url 'books:view_books' %}';">View Books</button>

    {% load static %}
    <script src="http://127.0.0.1:8000/__reload__/reload.js"></script>
</body>
</html>