{% extends 'base.html' %}

{% block content %}

<div class="container mx-auto px-4 py-8">
    <h1 class="text-2xl font-bold mb-4>
    <ul>
        {% for book in books %}
            <li>
                <h3>{{ book.name }}</h3>
                <p>Author: {{ book.author }}</p>
                <p>Condition: {{ book.condition }}/5</p>
                <p>Status: 
                    {% if book.is_rented %}
                        Rented
                    {% else %}
                        Available
                    {% endif %}
                </p>
                {% if not book.is_rented %}
                    <form method="post" action="{% url 'books:rent_book' book.id %}">
                        {% csrf_token %}
                        <button type="submit">Rent This Book</button>
                    </form>
                {% else %}
                    <p>This book is currently rented.</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</h1>
</div>  

{% endblock %}